[submodule "PolyBenchC-4.2.1"]
	path = PolyBenchC-4.2.1
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/Twashi1/llvm-project-analysis
