[submodule "llvm-project"]
	path = llvm-project
	url = https://www.github.com/llvm/llvm-project.git
[submodule "PolyBenchC-4.2.1"]
	path = PolyBenchC-4.2.1
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1
