ALLOW_VARIABLE_FREQUENCY = false
USE_CACHED_POWER_OUTPUTS = false
# default clock rate (MHz)
CLOCK_RATE_MHZ = 3000
# Voltage levels (can have up to 10)
V0 = 0.60
V1 = 0.65
V2 = 0.70
V3 = 0.75
V4 = 0.80
V5 = 0.85
V6 = 0.90
BASELINE_VOLTAGE_LEVEL = 0.80
# In some occassions, we raise the voltage significantly above what is required
#  to maintain frequency, to try raise temperature such that we benefit more from TEI
# TODO: additional flag that allows us to surpass baseline voltage to influence temperature up
ATTEMPT_TEMPERATURE_OPTIM = false
# Raise a voltage level above if applicable
VOLTAGE_UPWARDS_ADJUSTMENT = 0.1
# If we go below this, and temperature optimisation is allowed, then we will increase voltage
# artifically with the aim of higher temperature
TEMP_LOW = 348
# If we calculate a block's final peak temperature to go above this point
# adjust voltage to be minimum
TEMP_SAFEGUARD_MAX = 358
# node size (nm)
NODE_SIZE = 14
# What is the precision to which we can change our frequency (assuming 1 d.p)
FREQUENCY_STEP_GHZ = 0.1
FREQUENCY_LIMIT_GHZ = 3.6
# Where should the heatsink temperature set relative to the other components
# - we assume heatsink temperature to be unit temperature + offset (negative or positive)
HEATSINK_OFFSET = 0
